body {
    font-family: Arial, sans-serif;
    background-color: #3291cc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para o contêiner principal */
.container {
    display: flex; /* Define o contêiner como um flexbox */
    gap: 20px; /* Espaçamento entre os cards */
    flex-wrap: wrap; /* Permite que os cards quebrem linha se necessário */
}
.card {
    background-color: rgb(164, 213, 232);
    border: 1px solid #b5aaaa;
    border-radius: 8px; /* Arredonda os cantos dos cards */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para dar um efeito de elevação */
    flex: 1; /* Permite que os cards cresçam igualmente */
    max-width: 300px; /* Define uma largura máxima para os cards */
}
.card h2 {
    margin-top: 0;
    font-size: 1.0em;
    color: #73d0e3;
}
.card p {
    color: #002d54;
}

